* {
    margin: 0;
    padding: 0;
  box-sizing: border-box
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;

}


.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer" ;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: rgb(0, 167, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu {
    display: flex;
    gap: 20px;


}
.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    flex: 1 1 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 6px 14px black;
    transition: transform 0.2s;
}
.menu a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}
        .titulo {
            display: flex;
            justify-content: center;
        }

.sidebar {
    grid-area: sidebar;
    background-color: rgb(89, 89, 241);
    color: white;
    padding: 20px;
    border-radius: 50px;
   
}
.sidebar ul {
    list-style: none;
}
.sidebar a{ 
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}


    
.sidebar a:hover {
    background-color: white;
    border-radius: 4px;
    padding-left: 10px;
}
.rapida {
    width: 150px;
    height: 150px;
    object-fit: cover;

    border-radius: 50%;
   
}

.content {
grid-area: content;
background-color: white;
padding: 20px;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 10px red;
    width: 250px;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.footer {
    grid-area: footer;
    background-color: rgb(0, 167, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.fotus {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.imagens {
    text-align: center;
    width: 200px;
    
}
    .imagens img {
        width: 100%;
        border-radius: 10px;
        height: 200px;
        object-fit: cover;
        border: 1px solid black;
}

.imagens button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   border: 2px solid black;

}
 .imagens button:hover {
    background-color: LightBlue;
 }
 
 
 
 
.imagens button:active {
    background-color: cyan;
    transform: scale(0.97);
}
