body {
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
background-image: url(fundo2.jfif); background-repeat: no-repeat;
background-attachment: fixed; background-size: cover;
}

.container {
    text-align: center;
    background-color: rgb(143, 247, 139);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px gold;
    width: 90%;
    max-width: 600px;
    border: 2px solid black;
}
h1 {
    color: rgb(0, 0, 0);
}
p {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}
button {
    background-color: rgb(0, 0, 97);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.5s ease;
    margin-top: 10px;
}
button:hover {
    background-color: rgb(143, 143, 255);
}
ul li {
    background-color: rgb(0, 0, 0);
    color: rgb(72, 255, 0);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px white;
    border: 4px solid white;
}
/* Estilopara o campo de entrada */
input[type="text"] {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-bottom: 10px;
    border: 2px solid rgb(0, 0, 128);
    border-radius: 5px;
    font-size: 1em;
    box-shadow: inset 0 2px 4px black;
    outline: none;
    transition: background-color 0.3 ease;


}


