* {
    margin: 0;
    padding: 0;
  box-sizing: border-box
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: black;

}


.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer" ;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu {
    display: flex;
    gap: 20px;


}
.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    flex: 1 1 30%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 6px 6px 14px black;
    transition: transform 0.2s;
}
.menu a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}
        .titulo {
            display: flex;
            justify-content: center;
        }
.sidebar {
    grid-area: sidebar;
    background-color: skyblue;
    color: white;
    padding: 20px;
    border-radius: 50px;
   
}
.sidebar ul {
    list-style: none;
}
.sidebar a{ 
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}


    
.sidebar a:hover {
    background-color: white;
    border-radius: 4px;
    padding-left: 10px;
}

.content {
grid-area: content;
background-color: beige;
padding: 20px;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 6px 10px red;
    width: 250px;
    height: 150px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.footer {
    grid-area: footer;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotos {
    display: flex;
    justify-content: right;
    
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: LightSkyBlue;
}
button:active {
    background-color: cyan;
}
