body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    color: white;
}
.container {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px black;
    color: white;
}
h1 {
    color: white;
   
}
p {
    color: white;
    font-size: 1.2em;

}

 .saudacao {
    font-size:1.5em;
    color: white;
    margin-top: 10px;
 }
 button {
    background-color: darkred;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1em;
    margin-top: 15px;
    cursor: pointer;
 }
 button:hover {
    background-color: brown;

 }
